@media (max-width: 768px) {
  .frase {
    font-size: 2rem;
  }

  .carousel {
    display: none;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .hero {
    h2 {
      font-size: 2rem;
    }
  }

  .cabecera {
    height: auto;
    flex-direction: column-reverse;
    aspect-ratio: auto;
    background: none;

    h1 {
      font-size: 2rem;
      color: var(--primary-700);
      padding-inline: 1rem;
    }

    div {
      position: relative;

      img {
        margin-bottom: 1rem;
        filter: brightness(1);
      }
    }
  }

  .breadcrumb-container {
    display: none;
  }

  .contenido {
    padding: 0;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  .card-horizontal {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 1rem !important;
    width: 90% !important;
    max-width: 90% !important;
    margin-inline: auto !important;

    img {
      width: 100% !important;
      height: auto !important;
      max-width: none !important;
      object-fit: cover !important;
    }
  }
}
