@media (max-width: 768px) {
  .frase {
    font-size: 2rem;
  }

  .carousel {
    display: none;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .hero {
    h2 {
      font-size: 2rem;
    }
  }

  .cabecera {
    height: auto;
    flex-direction: column-reverse;
    aspect-ratio: auto;
    background: none;
  
    h2 {
      font-size: 2rem;
      color: var(--primary-700);
    }

    div {
      position: relative;
      
      img {
        margin-bottom: 1rem;
        filter: brightness(1);
      }
    }
  }

  .breadcrumb-container {
    display: none;
  }

  .contenido {
    padding: 0;
  }
}
