/* Nav */
nav {
  ul {
    li {
      a {
        text-decoration: none !important;
        color: var(--dark) !important;
        font-weight: 500 !important;
        transition: $transition;

        &:hover {
          color: var(--primary-700) !important;
        }
        &.active {
          color: var(--primary-700) !important;
        }
        &.active:hover {
          color: var(--primary-700) !important;
        }
        &.active:active {
          color: var(--primary-700) !important;
        }
        &.active:focus {
          color: var(--primary-700) !important;
        }
        &.active:visited {
          color: var(--primary-700) !important;
        }
      }
    }
  }

  div {
    h1 {
      font-size: 2em;
      font-weight: 700;

      .navbar-brand {
        &:hover {
          color: var(--primary-700);
          cursor: pointer;
        }
      }
    }

    .navbar-brand {
      font-weight: 700;
    }
  }
}

.navbar-collapse {
  flex-grow: 0;
}
