/* Nav */
nav{
  ul{
    li{
      a{
        text-decoration: none !important;
        color: var(--dark) !important;
        font-weight: 500 !important;

        &:hover {
          color: var(--primary-500) !important;
          transition: color 0.3s ease-in-out;
        }
        &.active {
          color: var(--primary-500) !important;
          transition: color 0.3s ease-in-out;
        }
        &.active:hover {
          color: var(--primary-500) !important;
          transition: color 0.3s ease-in-out;
        }
        &.active:active {
          color: var(--primary-500) !important;
          transition: color 0.3s ease-in-out;
        }
        &.active:focus {
          color: var(--primary-500) !important;
          transition: color 0.3s ease-in-out;
        }
        &.active:visited {
          color: var(--primary-500) !important;
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-700);
  
  &:hover {
    color: var(--primary-700);
    cursor: pointer;
  }
}

.navbar-collapse {
  flex-grow: 0;
}